---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cluster-reconciler-${deploy_name}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: helm-controller
    namespace: velero
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ${app_install_name}-helm
  namespace: flux-system
spec:
  serviceAccountName: kustomize-controller
  dependsOn:
    - name: external-snapshotter-config
  interval: 1m0s
  path: "./${helm_repo_path}"
  prune: ${prune}
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substitute:
      flux_aws_region: ${aws_region}
      flux_cluster_name: ${cluster_name}
      flux_velero_access_mode: ${access_mode}
      flux_velero_aws_bucket_name: ${bucket_name}
      flux_velero_azure_bucket_name: ${azure_bucket_name}
      flux_velero_azure_resource_group: ${azure_resource_group}
      flux_velero_azure_storage_account: ${azure_storage_account}
      flux_velero_azure_subscription_id: ${azure_subscription_id}
      flux_velero_cluster_backup_disabled: "${cluster_backup_disabled}"
      flux_velero_cluster_backup_offsite_disabled: "${cluster_backup_offsite_disabled}"
      flux_velero_iam_role_arn: ${iam_role_arn}
