repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.100.0
    hooks:
      - id: terraform_fmt
        exclude: test/integration/suite/vendor/.*
      - id: terraform_trivy
        args:
          - "--args=--skip-dirs=test/integration/suite/vendor/.*"
          - "--args=--severity HIGH,CRITICAL"
        files: (\.tf|\.tfvars)$
      # - id: terraform_checkov
      #   args:
      #     - "--args=--quiet"
      #     - "--args=--skip-path=test/integration/suite/vendor/.*"
      - id: terraform_tflint
        args:
          - "--args=--call-module-type=all"
          - "--args=--config=__GIT_WORKING_DIR__/.tflint.hcl"
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: test/integration/suite/vendor/.*
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: test/integration/suite/vendor/.*
      - id: check-added-large-files
        exclude: test/integration/suite/vendor/.*
      - id: check-merge-conflict
      - id: detect-aws-credentials
        exclude: test/integration/suite/vendor/.*
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
      - id: check-executables-have-shebangs
        exclude: test/integration/suite/vendor/.*
      - id: check-shebang-scripts-are-executable
        exclude: test/integration/suite/vendor/.*
      - id: check-json
      - id: end-of-file-fixer
        exclude: test/integration/suite/vendor/.*
      - id: mixed-line-ending
        exclude: test/integration/suite/vendor/.*
        args:
          - "--fix=lf"
