repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.59.0
  hooks:
    - id: terraform_fmt
    - id: terraform_tfsec
      files: (\.tf|\.tfvars)$
- repo: git@github.com:Yelp/detect-secrets
  rev: v1.1.0
  hooks:
    - id: detect-secrets
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: trailing-whitespace
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: detect-aws-credentials
    - id: detect-private-key