name: $(Build.BuildId)

# Triggers Pipeline only from schedule
trigger: none
pr: none

# Run a daily test at midnight
schedules:
  - cron: "0 0 * * *"
    displayName: Daily midnight test
    branches:
      include:
        - master
    always: true

# Define resources for container to use
resources:
  containers:
    - container: prime
      image: dfdsdk/prime-pipeline:0.6.15
      env:
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
        TF_VAR_platform_fluxcd_github_token: $(TF_VAR_platform_fluxcd_github_token)
        TF_VAR_atlantis_github_token: $(TF_VAR_atlantis_github_token)
        TF_VAR_crossplane_provider_confluent_email: $(CROSSPLANE_PROVIDER_CONFLUENT_EMAIL)
        TF_VAR_crossplane_provider_confluent_password: $(CROSSPLANE_PROVIDER_CONFLUENT_PASSWORD)

# Define variable group to use
variables:
  - group: "Infrastructure-Modules QA"

stages:
  # Continuous Integration steps
  - stage: CI
    displayName: "Continuous Integration"
    pool:
      vmImage: "ubuntu-latest"

    jobs:
      - job: init_shared
        displayName: Init EKS shared resources
        container: prime
        steps:
          - bash: ./src/qa-test-eks.sh apply-shared _global/eks-public-s3-bucket
            displayName: "Provision public S3 bucket"

      - job: eks_cluster
        displayName: EKS Cluster
        container: prime
        dependsOn: init_shared
        steps:
          - bash: ./src/qa-test-eks.sh cleanup-cluster eu-west-1 qa
            displayName: "Pre-apply cleanup"
            condition: eq(variables['PRE_CLEANUP'], 'true')
          - bash: ./src/qa-test-eks.sh apply-cluster eu-west-1 qa
            displayName: "Terraform Apply"
          # TODO(emil): Move this to the Docker image
          - bash: apt-get update && apt-get --yes install golang
            displayName: "Install Go"
            condition: always()
          - bash: ./src/qa-test-eks.sh test eu-west-1 qa
            displayName: "Run tests"
            condition: always()

      - job: init_shared_velero
        displayName: Init EKS shared Velero
        container: prime
        dependsOn:
          - eks_cluster
        steps:
          - bash: ./src/qa-test-eks.sh cleanup-shared eu-west-1
            displayName: "Pre-apply cleanup"
            condition: eq(variables['PRE_CLEANUP'], 'true')
          - bash: ./src/qa-test-eks.sh apply-shared _global/s3-bucket-velero
            displayName: "Provision Velero S3 bucket"

      - job: destroy_velero_bucket
        displayName: Destroy Velero S3 Bucket
        container: prime
        dependsOn:
          - init_shared_velero
        condition: ne(variables['NO_DESTROY'], 'true')
        steps:
          - bash: ./src/qa-test-eks.sh destroy-velero-bucket eu-west-1 _global/s3-bucket-velero
            displayName: "Terraform Destroy Velero S3 Bucket (post)"

      - job: destroy_eks_cluster
        displayName: Destroy EKS Cluster
        container: prime
        dependsOn:
          - destroy_velero_bucket
        condition: ne(variables['NO_DESTROY'], 'true')
        steps:
          - bash: ./src/qa-test-eks.sh destroy-cluster eu-west-1 qa
            displayName: "Terraform Destroy (post)"

      - job: destroy_shared
        displayName: Destroy Public S3 bucket
        container: prime
        dependsOn:
          - destroy_eks_cluster
        condition: ne(variables['NO_DESTROY'], 'true')
        steps:
          - bash: ./src/qa-test-eks.sh destroy-public-bucket eu-west-1 _global/eks-public-s3-bucket
            displayName: "Terraform Destroy Public S3 bucket (post)"
