name: $(Build.BuildId)

# Triggers Pipeline only from schedule
trigger: none
pr: none

# Run a daily test at midnight
schedules:
  - cron: "0 0 * * *"
    displayName: Daily midnight test
    branches:
      include:
        - master
    always: true

# Define resources for container to use
resources:
  containers:
    - container: prime
      image: dfdsdk/prime-pipeline:0.4.0
      env:
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)

# Define variable group to use
variables:
  - group: "Infrastructure-Modules QA"

stages:
  # Continuous Integration steps
  - stage: CI
    displayName: "Continuous Integration"
    pool:
      vmImage: "ubuntu-latest"

    jobs:
      - job: init_shared
        displayName: Init EKS shared resources
        container: prime
        steps:
          - bash: ./src/qa-test-eks.sh apply-all _global/eks-public-s3-bucket
            displayName: "Provision public EKS S3 bucket"

      - job: eks_1_15
        displayName: EKS 1.15
        container: prime
        dependsOn: init_shared
        steps:
          - bash: ./src/qa-test-eks.sh init
            displayName: "Init"
            # condition: succeeded()
          # - bash: ./src/qa-test-eks.sh destroy-all eu-west-1/k8s-qa15
          #   displayName: "Terraform Destroy (pre)"
          #   condition: always()
          - bash: ./src/qa-test-eks.sh plan eu-west-1/k8s-qa15/cluster
            displayName: "Terraform Plan (cluster)"
            # condition: succeeded()
          - bash: ./src/qa-test-eks.sh apply-all eu-west-1/k8s-qa15
            displayName: "Terraform Apply"
            # condition: succeeded()
          - bash: ./src/qa-test-eks.sh test eu-west-1/k8s-qa15
            displayName: "Run tests"
            # condition: succeeded()
          - bash: ./src/qa-test-eks.sh destroy-cluster eu-west-1/k8s-qa15/cluster
            displayName: "Terraform Destroy (cluster)"
            condition: always()
          - bash: ./src/qa-test-eks.sh destroy-all eu-west-1/k8s-qa15
            displayName: "Terraform Destroy (post)"
            condition: always()

      - job: eks_1_16
        displayName: EKS 1.16
        container: prime
        dependsOn: init_shared
        steps:
          - bash: ./src/qa-test-eks.sh init
            displayName: "Init"
            # condition: succeeded()
          # - bash: ./src/qa-test-eks.sh destroy-all eu-west-1/k8s-qa16
          #   displayName: "Terraform Destroy (pre)"
          #   condition: always()
          - bash: ./src/qa-test-eks.sh plan eu-west-1/k8s-qa16/cluster
            displayName: "Terraform Plan (cluster)"
            # condition: succeeded()
          - bash: ./src/qa-test-eks.sh apply-all eu-west-1/k8s-qa16
            displayName: "Terraform Apply"
            # condition: succeeded()
          - bash: ./src/qa-test-eks.sh test eu-west-1/k8s-qa16
            displayName: "Run tests"
            # condition: succeeded()
          - bash: ./src/qa-test-eks.sh destroy-cluster eu-west-1/k8s-qa16/cluster
            displayName: "Terraform Destroy (cluster)"
            condition: always()
          - bash: ./src/qa-test-eks.sh destroy-all eu-west-1/k8s-qa16
            displayName: "Terraform Destroy (post)"
            condition: always()

      - job: destroy_shared
        displayName: Destroy EKS shared resources
        container: prime
        dependsOn:
          - eks_1_15
          - eks_1_16
        condition: always()
        steps:
          - bash: ./src/qa-test-eks.sh destroy-all _global/eks-public-s3-bucket
            displayName: "Destroy public EKS S3 bucket"
