name: $(Build.BuildId)

# Triggers Pipeline only from schedule
trigger: none
pr: none

# Run a daily test at midnight
schedules:
  - cron: "0 0 * * *"
    displayName: Daily midnight test
    branches:
      include:
        - master
    always: true

# Define resources for container to use
resources:
  containers:
    - container: prime
      image: dfdsdk/prime-pipeline:0.5.5
      env:
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
        TF_VAR_platform_fluxcd_github_token: $(TF_VAR_platform_fluxcd_github_token)

# Define variable group to use
variables:
  - group: "Infrastructure-Modules QA"

stages:
  # Continuous Integration steps
  - stage: CI
    displayName: "Continuous Integration"
    pool:
      vmImage: "ubuntu-latest"

    jobs:
      - job: init_shared
        displayName: Init EKS shared resources
        container: prime
        steps:
          - bash: ./src/qa-test-eks.sh apply-all _global/eks-public-s3-bucket
            displayName: "Provision public EKS S3 bucket"

      - job: eks_1_18
        displayName: EKS 1.18
        container: prime
        dependsOn: init_shared
        steps:
          - bash: ./src/qa-test-eks.sh init
            displayName: "Init"
          - bash: ./src/qa-test-eks.sh plan eu-west-1/k8s-qa18/cluster
            displayName: "Terraform Plan (cluster)"
          - bash: ./src/qa-test-eks.sh apply-all eu-west-1/k8s-qa18
            displayName: "Terraform Apply"
          - bash: ./src/qa-test-eks.sh test eu-west-1/k8s-qa18
            displayName: "Run tests"
            condition: always()
          - bash: ./src/qa-test-eks.sh disable-cluster-logging eu-west-1 qa18
            displayName: "Disable cluster logging"
            condition: always()
          - bash: ./src/qa-test-eks.sh destroy-cluster eu-west-1/k8s-qa18 qa18
            displayName: "Terraform Destroy (post)"
            condition: always()

      # - job: eks_1_19
      #   displayName: EKS 1.19
      #   container: prime
      #   dependsOn: init_shared
      #   steps:
      #     - bash: ./src/qa-test-eks.sh init
      #       displayName: "Init"
      #     - bash: ./src/qa-test-eks.sh plan eu-west-1/k8s-qa19/cluster
      #       displayName: "Terraform Plan (cluster)"
      #     - bash: ./src/qa-test-eks.sh apply-all eu-west-1/k8s-qa19
      #       displayName: "Terraform Apply"
      #     - bash: ./src/qa-test-eks.sh test eu-west-1/k8s-qa19
      #       displayName: "Run tests"
      #     - bash: ./src/qa-test-eks.sh disable-cluster-logging eu-west-1 qa19
      #       displayName: "Disable cluster logging"
      #       condition: always()
      #     - bash: ./src/qa-test-eks.sh destroy-cluster eu-west-1/k8s-qa19 qa19
      #       displayName: "Terraform Destroy (post)"
      #       condition: always()

      # - job: eks_1_20
      #   displayName: EKS 1.20
      #   container: prime
      #   dependsOn: init_shared
      #   steps:
      #     - bash: ./src/qa-test-eks.sh init
      #       displayName: "Init"
      #     - bash: ./src/qa-test-eks.sh plan eu-west-1/k8s-qa20/cluster
      #       displayName: "Terraform Plan (cluster)"
      #     - bash: ./src/qa-test-eks.sh apply-all eu-west-1/k8s-qa20
      #       displayName: "Terraform Apply"
      #     - bash: ./src/qa-test-eks.sh test eu-west-1/k8s-qa20
      #       displayName: "Run tests"
      #     - bash: ./src/qa-test-eks.sh disable-cluster-logging eu-west-1 qa20
      #       displayName: "Disable cluster logging"
      #       condition: always()
      #     - bash: ./src/qa-test-eks.sh destroy-cluster eu-west-1/k8s-qa20 qa20
      #       displayName: "Terraform Destroy (post)"
      #       condition: always()

      - job: destroy_shared
        displayName: Destroy EKS shared resources
        container: prime
        dependsOn:
          - eks_1_18
          # - eks_1_19
          # - eks_1_20
        condition: always()
        steps:
          - bash: ./src/qa-test-eks.sh destroy-shared _global/eks-public-s3-bucket
            displayName: "Destroy public EKS S3 bucket"
