---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ${apps_repo_url}/apps/karpenter?ref=${apps_repo_branch}
  - ${apps_repo_url}/apps/karpenter-nodes/pools/${is_sandbox}?ref=${apps_repo_branch}